@import url(//db.onlinewebfonts.com/c/d14035f6b1afeabafbee4abb2ebf0fc6?family=COCOGOOSE);
html
{
  scroll-behavior: smooth;
}
body
{
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@keyframes move{
  from{  
    position: absolute;
    left: 100vw;
    top: 0px;  
  }
  to
  {
    transform: translate(0px, -100vw);
  }
}
@font-face {
  font-family: "COCOGOOSE"; 
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot"); 
  src: url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/d14035f6b1afeabafbee4abb2ebf0fc6.svg#COCOGOOSE") format("svg"); 
}
.App {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Typography*/
h1{
  font-size: 18px;
  font-family: "COCOGOOSE";
}

.titleHome, .paragraphHome
{
  width: 92vw;
  margin: 0px auto;
}
.paragraphHome
{
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 14px;
}
.squareLeft{
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.squareRight
{
  width: 55vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.squareRight h2
{
  color: #EA526F;
  font-family: "COCOGOOSE";
  font-weight: bold;
}
.titleHome
{
  margin-top: 46px;
}
/*Boutons*/
.BoutonHome{
  width: 95vw;
  height: 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #F7F7FF;
  margin: 6px 0px;
}
.BoutonHome h2{
  font-size: 12px;
}

/*Page : */
.pageHeading1, .pageParagraph, .pageHeading2
{
  width: 90%;
  margin: 0px auto;
  font-size: 18px;

}
.pageHeading1
{
  font-size: 20px;
  padding-top: 27px;
  margin-bottom: 20px;
}
.pageParagraph
{
  font-size: 1.2em;
  font-family: Roboto;
  margin-bottom: 20px;
}
.pageHeading2
{
  font-size: 18px;
  color:#EA526F;
  font-family: "COCOGOOSE";
  font-weight: bold;
  margin-bottom: 10px;
}
.Transformation
{
  height: 20vh;
  background-image: url("./images/Transformation3.png");
}
.Agence
{
  height: 20vh;
  background-image: url("./images/agence2.png");
}
.Studios
{
  height: 20vh;
  background-image: url("./images/Studio2.png");
}
.impact
{
  height: 20vh;
  background-image: url("./images/impact.png");
}
.Monimalz
{
  width: 80vw;
}
.article
{
  background-color: #F7F7FF;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fontNone
{
  font-family: Futura;
}
a
{
  text-decoration: none;
}
.button
{
  width: 196px;
  height: 43px;
  background: #F7F7FF;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.FauxFooter, footer
{
  height: 64px;
  border-radius: 15px 15px 0px 0px;
  border: solid 1px white;
  background-color: #F7F7FF;
}
footer
{
  position: fixed;
  bottom: 0px;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.1);
  margin: 0px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: flex-end;
}

footer a, footer img
{
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back
{
  position: fixed;
  top:20px;
  left: 20px;
}
.profil
{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profilPicture
{
  width: 115px;
  height: 115px;
  border-radius: 150px;
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.profil h2
{
  margin-bottom: 40px;
  font-family: "COCOGOOSE";
  font-weight: bold;
  font-size: 18px;
}
.resume
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.projects h3,.menu-container h3
{
  margin: 15px auto;
  font-size: 18px;
  font-family: "COCOGOOSE";
  font-weight: bold;
  width: 90vw;
  margin: 10px auto;
  text-align: left;
}
.lineProjects, .lineMore
{
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.element
{
  width: 150px;
  height: 170px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
}
.element p
{
  font-size: 12px;
  text-align: center;
  font-family: "Roboto";
  font-weight: lighter;
}
.myProfil
{
  background-color:#F7F7FF;
}
.icon
{
  width: 64px;
}
.p404
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}
.title404
{
  font-size: 30px;
  color: #EA526F;
  font-weight: bold;
  font-family: "COCOGOOSE";
}
.subtitle404
{
  font-size: 18px;
  color: black;
  font-weight: bold;
  font-family: "COCOGOOSE";
}
.mail404
{
  font-size: 18px;
  color: black;
  font-weight: lighter;
  font-family: "Roboto";
}
.element .vr
{
  width: 83px;
}
.element p
{
  font-size: 14px;
  font-family: "Roboto";
  font-weight: bold;
}
.Fablab p
{
  color: #6969AA;
  width: 90%;
}
.Fablab_title
{
  color: #6969AA;
}
.Fablab
{
  background-color:  #CACAE9;
}
.idy
{
  background-color: #89C7D3;
}
.idy p
{
  color: #33677F;
}
.incubator
{
  background-color: #8BDFC9;
}
.incubator p 
{
  color: #00AA7E;
}
.dataviz
{
  background-color: #EFDDB2;
}
.dataviz p 
{
  color: #F6AC00;
}
.data
{
  opacity: 0.4;
}
.menu
{
  width: 90vw;
  display: flex;
  height: 100px;
  margin: 0px auto;
  white-space: nowrap;
  margin-bottom: 30px; 
}
.menu a 
{
  color: black;
}
.menu .category
{
  height: 90px;
  width: 90px;
  background-color: #FAFAFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  margin-right: 14px;
  margin-top: 14px;
  margin-bottom: 14px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.icon2
{
  height: 47px;  
}
.category p
{
  margin-bottom: 5px;
  font-size: 12px;
}
.menu-container h3
{
  width: 90vw;
  text-align: left;
  margin: 0px auto;
}
.ArticleHeading2, .ArticleHeading3
{
  margin:0px;
  margin-bottom: 5px;
}
.ArticleHeading3
{
  color: #A8A8AD;
  margin-bottom: 20px;
}
.category
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.section
{
  width: 90vw;
  margin-bottom: 0px;
}
.gif_container
{
  width: 90vw;;
}
.section iframe
{
  width: 90vw;
}
iframe {
  margin-bottom: 20px;
}
.section h3 
{
  margin-bottom: 5px;
}
.incubator_title
{
  color:#00AA7E;
}
.idy_title
{
  color: #33677F;
}
.lineSkills 
{
  width: 350px;
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
}
.lineSkills .element
{
  margin: 0px 7px;
}
/**SKILLS*/
.html
{
  background-color: #ECBFB3;
}
.html p 
{
  color: #DC6C40;
}
.css
{
  background-color: #95C1E3;
}
.css p 
{
  color: #0170BA;
}
.js
{
  background-color: #E5D796
}
.js p
{
  color: #E7C421;
}
.react
{
  background-color: #B0E0ED
}
.react p
{
  color: #61DAFB;
}
.node
{
  background-color: #9FA5A9
}
.node p
{
  color: #37474F;
}
.skill
{
  width: 120px;
  height: 140px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;
  margin-right: 20px;
  text-align: center;
}
.skill p 
{
  font-family: "Roboto";
  font-weight: bold;
}
.js img
{
  height: 64px;
}
.design
{
  background-color: white;
}
.design img
{
  height: 60px;
}
.Fondamentale
{
  background-color: #B2C6EF;
}
.Fondamentale p 
{
  color: #6699FF;
}
.online
{
  background-color: #E9AD99;
}
.online p 
{
  color: #F15A29;
}
.communication
{
  background-color: #ABD3D8;
}
.communication p 
{
  color: #56B8C5;
}
.analytics
{
  background-color: #EBBB8A;
}
.analytics p 
{
  color: #F17903;
}
.section.projets p 
{
  margin: 0px;
}
ul
{
  width: 90vw;
}
li
{
  width: 80vw;
  
  font-family: 'Roboto';
  margin: 0px;
}
a
{
  color: #EA526F;
  margin-bottom: 20px;
}
.section h3
{
  color: #EA526F;
  font-size: 18px;
}